<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Сторінку не знайдено</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-dark text-white text-center">
<div>
  <h1 class="display-1 fw-bold">404</h1>
  <p class="fs-4">Ой, здається, цей годинник зупинився або сторінки не існує.</p>
  <a th:href="@{/}" class="btn btn-outline-light rounded-pill px-5">Повернутися додому</a>
</div>
</body>
</html>